.wrapper {
  width: 620px;
  padding: 10px;
  background-color: #ccc;
  margin: 0 auto;
}

.title {
  background-color: blue;
}

.P_box, .FG_box {
  background-color: red;
  height: 500px;
}

.P_box {
  width: 50%;
  float: left;
}

.FG_box {
  width: 50%;
  float: right;
}

.member {
  clear: both;
  background-color: blue;
}